# JIRA Configuration
JIRA_BASE_URL=
JIRA_SERVICE_DESK_ID=
JIRA_REQUEST_TYPE_ID=
JIRA_API_TOKEN=
JIRA_USER_EMAIL=

# AWS Configuration (optional for local development)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Application Configuration
NODE_ENV=
